{% extends "layout.twig" %}
{% block content %}
<aside class="header-blog container">
	<div class="row">
		<div class="page-title span-6">
			{{widget('content', 'pagetitlecontent', {content: '<h1>Title of the page</h1>', lines: 'one'})|raw}}
		</div>
		<div class="blog-search span-6">
			{{widget('blogsearch', 'blogsearch', {})|raw}}
		</div>
	</div>
</aside>
<section class="section main bloglist-page">
	{{widget('bloglistposts', 'bloglistposts1', {postDisplayType: "summary"})|raw}}
</section>

{% endblock %}