{% extends "layout.twig" %}
{% block content %}

<section class="section main home-page">
	<div class="row">
		<div class="span-12">
			{{zone('main')|raw}}
		</div>
	</div>
</section>

{% endblock %}